html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background-color: transparent
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

a {
    color: #337ab7;
    text-decoration: none
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

h1,
h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1,
h2 {
    margin-top: 20px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

p {
    margin: 0 0 10px
}

.text-center {
    text-align: center
}

ul {
    margin-top: 0;
    margin-bottom: 10px
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:768px) {
    .col-sm-4 {
        float: left
    }
    .col-sm-4 {
        width: 33.33333333%
    }
}

.container-fluid:after,
.container-fluid:before,
.row:after,
.row:before {
    display: table;
    content: " "
}

.container-fluid:after,
.row:after {
    clear: both
}

@-ms-viewport {
    width: device-width
}


/* Global body styling */

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}


/* Autoscaling column styling */

.col-sm-4 {
    background-color: white;
}