/* Import Roboto from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Global body styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

/* Autoscaling column styling */
.col-sm-4 {
    background-color:white;
}
